<html>

<head>
    <script>
            function category()
            {
              var categ_name = document.getElementById("categ_name").value;


            }


    </script>

</head>

<body>

<table>
    <form ref="uploadForm" id="add" action="/category/insert" method="post"encType="multipart/form-data">
   {{!-- <form name ="add" action="/category/insert"   method="post"> --}}
        <table width="100%">
            <tr>
                <td align="left" width="10%"> Category Name:</td>
                 <td><input type="Text" name="categ_name"></td>
                 </tr>
                <br>

                <tr>
                    <td align="left" width="10%">Add Image</td>
                    <td><input type="file" name="sampleFile" /></td>
                </tr>
                <br>
                <tr>
                    <td><input type="submit"  value="Add"></td>
                </tr>
                

        </table>




    </form>

</body>

</html>