<html>

<head>


    <h1>{{title}}</h1>

    

</head>


<body>

    <form action="" method="post">
        <table width="100%">
            <tr>
                <td align="left" width="10%"> Email id:</td>
                 <td><input type="email" id="email" name="email" required></td>
                 </tr>
                <br>
                <tr>
                    <td align="left" width="10%"> Password:</td>
                    <td><input type="password" id="password" name="password" required> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"></td>
                </tr>
                

        </table>




    </form>




</body>


</html>





